[project]
name = "GWStreamlit"
version = "0.0.7"
authors = [
  { name="Chris Moore", email="cmoore@guidewire.com" },
]
description = "Guidewire Streamlit Engine"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "streamlit",
    "pydantic",
    "pyyaml",
    "pathvalidate"
]
[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.black]
line-length = 88
target-version = ['py312']
include = '\.pyi?$'