/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* Variables */
:root {
    --border-style: 1px solid #e6e6e6;
    --border-radius: 9px;
    --blue: #169fdb;
    --button-hover-color: #4565ad;
    --button-color: #808790;
    --warning-color: #fbd9c2;
    --error-color: #f8c3c4;
    --stroke-color: #CCD2E3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    position: relative;
    font-size: 11px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

h1 {
    margin-bottom: 20px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 15px;
}

h4 {
    font-weight: 700;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

/* HIGHCHARTS */
iframe .container {
    width: 1440px;
}


/* END HIGHCHARTS */

/* Table */
table {
    border: var(--border-style);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

td {
    padding: 3px 10px;
    border-radius: 9px;
}

th {
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
}

th:nth-child(1) {
    padding-left: 20px;
}

tr {
    font-size: 11px;
    line-height: 38px;
    border-bottom: var(--border-style);
}

tr td:nth-child(1) {
    padding-left: 20px;
}

tr th:first-child {
    border-right: var(--border-style);
}


.warning {
    background-color: var(--warning-color);
}

.error {
    background-color: var(--error-color);
}

pre {
    font-family: "Open Sans", sans-serif;
    line-height: 27px;
    font-size: 12px;
}

.analyser-table th {
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
    border-right: var(--border-style);
}

.analyser-table font {
    font-weight: 700;
}

/* EMD Table */

/* MAIN CONTENT */
#main {
    width: 1120px;
    margin: 0 auto;
    background-color: #fff;
}

/* END MAIN CONTENT */

/* HEADER */
header {
    height: 86px;
    background-color: #fafafa;
    display: flex;
    margin-bottom: 60px;
}

#excentis-byteblower-logo {
    height: 54px;
    margin-left: 39px;
    margin-top: 16px;
}

#header-blob {
    position: absolute;
    top: -250px;
    right: 0;
    height: 792px;
    width: 450px;
}

#header-quote {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 39px;
    font-weight: 700;
}

/* END HEADER */

/* COLLAPSE SECTION */
.btn-collapse {
    padding: 10px;
    width: 14px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 23px;
    box-sizing: content-box;
    z-index: 2;
}

.btn-collapse polyline {
    transition: 0.2s ease;
    /* Add a transition effect for hover */
    transform-origin: center;
    opacity: 20%;
    stroke-width: 6px;
}

.btn-collapse:hover polyline {
    opacity: 100%;
}

.collapse {
    display: block;
    transition: height 0.5s ease;
}

.collapse-content {
    /*transition: display 0.5s ease;*/
    transition: opacity 0.3s ease-in-out;
}

/* END COLLAPSE SECTION */

/* QUOTE SECTION */
#quote {
    border-top: var(--border-style);
    height: 262px;
    position: relative;
    margin-top: 100px;
}

#quote-content {
    margin-top: 75px;
    margin-left: 450px;
    position: relative;
    display: block;
    top: -120px
}

#quote-content h1 {
    font-size: 26px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -1px;
}

#tagline {
    font-size: 14px;
    font-style: italic;
}

#double-quote {
    position: relative;
    font-size: 48px;
    color: #999;
    font-weight: 600;
    font-style: italic;
    top: 75px;
    left: -35px
}

#quote-blob {
    bottom: 0;
    height: 90%;
    position: absolute;
}

/* END QUOTE SECTION */

/* FOOTER */
footer {
    background-color: #f8fbff;
    height: 330px;
    position: relative;
    font-size: 12px;
}

#logo-footer {
    width: 190px;
    margin-top: 50px;
    margin-left: 32px;
    position: relative;
    z-index: 1;
}

footer .btn-outline {
    display: inline-block;
    width: 205px;
    font-size: 13px;
    color: #333;
    background-color: #f8fbff;
}

#footer-btn-container {
    float: right;
    margin-top: 50px;
    margin-right: 32px;
    position: relative;
    z-index: 1;
}

#footer-btn-container a:not(:last-child) {
    margin-right: 10px;
}

#disclaimer {
    color: #fff;
    margin-top: 200px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}

#footer-blob {
    position: absolute;
    width: 1440px;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: block;
}

.btn-outline {
    background-color: transparent;
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 12px 0 12px 0;
    text-align: center;
    color: var(--button-color);
    transition: 0.2s ease;
    /* Add a transition effect for hover */
}

.btn-outline:hover {
    background-color: var(--button-hover-color);
    color: #fff;
    cursor: pointer;
    border-color: transparent;
}

#footer-btn-container a {
    color: #000;
}

#footer-btn-container a:hover {
    color: #fff;
}

#disclaimer a {
    color: #fff;
}

#disclaimer a:hover {
    text-decoration: underline;
}

/* END FOOTER */

/* PASS / FAIL SECTION */
#pass-fail-container {
    border-top: var(--border-style);
    border-bottom: var(--border-style);
    padding-bottom: 20px;
}

#pass-fail-container h1 {
    font-size: 21px;
    font-weight: 700;
}

#pass-fail-container p {
    font-size: 12px;
    width: 100%;
}

#pass-fail-section {
    display: flex;
    align-items: center;
}

#pass-fail-visual {
    width: 170px;
    height: 65px;
    border-radius: 4px;
    margin-right: 54px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    border: 1px solid
}

#pass-fail-visual svg {
    width: 30px;
    padding: 9px;
    margin-right: 15px;
    margin-left: 12px;
    border-radius: 24px;
}

#pass-fail-visual h2 {
    font-weight: 700;
    font-size: 21px;
}

.pass {
    border-color: #95C23D !important
}

.fail {
    border-color: #E73439 !important;
}

.pass svg {
    background-color: #e3efe5;
}

.fail svg {
    background-color: #fce9e9;
}

/* END PASS / FAIL SECTION */

@media screen and (max-width: 1440px) {
    body {
        width: 100%;
    }

    #main {
        padding-left: 20px;
        padding-right: 20px;
    }

    #flex-container {
        width: 100%;
    }

    footer {
        width: 100vw;
    }

    #footer-blob {
        width: 100%;
    }
}

@media screen and (max-width: 930px) {

    #quote-content {
        text-align: center;
        margin-left: 0;
    }

    #double-quote {
        left: -110px;
        top: 75px;
    }

    #quote-blob {
        left: -100px
    }

    #logo-footer-excentis {
        transform: translate(11px, 0);
    }

    #logo-footer {
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        margin-top: 0;
        display: block;
    }

    #footer-btn-container {
        float: none;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-right: 0;
    }

    #disclaimer {
        display: block;
        text-align: center;
        margin: 130px auto 0;
    }

    #quote {
        width: 100vw;
    }
}
