/* SPDX-License-Identifier: CC-BY-SA-4.0 */
/* Copyright Tumult Labs 2024 */

caption {
    padding: 0px;
    caption-side: top;
    font-weight: bold;
    color: rgba(var(--pst-color-paragraph),1);
}

/* Makes the image on each card in the intro smaller. */
.intro-card-icon {
    max-width: 50%;
    padding: 20px;
    margin: auto;
}

/* Format for page banners. Based on the admonition styling. */
.tmlt-banner-warning {
  margin: 0 auto 1.5625em;
  padding: .4rem .8rem;
  overflow: hidden;
  border-radius: .2rem;
  /* from --pst-color-warning */
  background-color: rgba(238, 144, 64, .2);
  border-left: .2rem solid var(--pst-color-warning);
  box-shadow: 0 .2rem .5rem var(--pst-color-shadow), 0 0 .0625rem var(--pst-color-shadow);
}

/* Makes the GitLab & Slack logos on the top right use a Tumult brand color. */
#navbar-icon-links i.fa-slack:before {
   color: #cc3d56;
}
#navbar-icon-links i.fa-gitlab:before {
    color: #cc3d56;
}
