

@import "_variables.scss";


.alert {
  *:last-child {
    margin-bottom: 0;
  }
}

.form-group {
  label {
    &.empty {
      display: none;
    }
  }
  &.required-field {
    >label {
      &::after {
        content: ' * ';
        color: $danger;
        font-weight: $form-required-font-weight;
      }
    }
    .control-label {
      &::after {
        content: '*';
        display: inline-block;
        color: $danger;
      }
    }
  }

  .input {
    .error {
      color: $danger;
    }
  }
}

.datepicker {
  table {
    thead {
      th,
      td {
        background-color: $page-bg;
      }
    }
  }
}

footer {
  button {
    margin: 0 0.25em;
  }
}