[{self.__class__.__name__}]
# Bloc de configuration par défaut pour FichierConfig et sous classes.
# Affiche qu'un fichier de configuration est créé automatiquement
auto: True
# Indique la classe ayant créé le fichier de configuration
class: {self.__class__.__name__}
